# Ignore all images
images/*
config.json

# Image example whitelist
!images/QDTtF7ewaak_coffee.jpg
!images/4GI-0z5K2i4_coffee.jpg
!images/bTzk95h707g_coffee.jpg
!images/hgjpLGClejo_coffee.jpg
!images/VwZyfdlvUWw_coffee.jpg
!images/_JOiT2NsV1A_coffee.jpg

# Standard ignore
__pycache__/
.ropeproject/
