{
  "localhost": false,
  "domain": "https://coffee.alexflipnote.dev/",
  "title": "Coffee API",
  "description": "Start your day with a lovely coffee~",
  "imagefolder": "images",
  "suffix": "_coffee",
  "port": 8080,
  "debug": true
}
