<html>
  <head>
    <title>{{ config.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link href="https://rawgit.com/AlexFlipnote/ModestaCSS/master/css/modesta.min.css" type="text/css" rel="stylesheet">

    <meta name="theme-color" content="#2196F3">
    <meta content="{{ config.domain }}assets/images/profile.png" property="og:image" />
    <link rel="icon" type="image/x-icon" href="{{ config.domain }}assets/images/profile.png">
    <meta content="{{ config.title }}" property="og:title" />

    <meta content="{{ config.description }}" property="og:description" />
    <meta content="{{ config.description }}" name="description" />
  </head>
  <body>
    <section class="fullscreen">
      <div class="background" style="background-image: url('assets/images/background.jpg');"></div>
      <div class="center-object">
        <section class="me">
          <h1 class="title">☕ {{ config.title }}</h1>
          <span class="undertitle">{{ config.description }}</span>
        </section>
        <div class="buttons">
          <a href="random" class="btn animation turquoise" target="_blank">Random coffee</a>
          <a href="random.json" class="btn animation nephritis" target="_blank">Random coffee [ JSON ]</a>
          <a href="https://github.com/AlexFlipnote/CoffeeAPI" class="btn animation black" target="_blank">GitHub</a>
        </div>
      </div>
    </section>
  </body>
</html>
